sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: UhRby9OJGnO6oY8C35WjvqxwSlEjBGfuaVaY7KyosZLrw7pVqBg5lwRihXeAuOijj6rPhYj9j+eL4ffEOKiJMLxldEmn38ojE6ZYZs305BzmvVK3MMIgBQ+qd40ggX9Du97dH76e86yIGujEZcPPJXBPB/nJ4KC2FbvE6bLHXc+Jo5FE5QvQk0SV98zztCYT/jOzsER/RW87yupNlvTHFUyQp83E6Kf1rgRTNMCJuamq6KxMA94VPAggUzKijY2wWB5FjFwYMZKEUbh3mCy9eHvHqVRkfex5NFR10+PGhgLPtx+NcuelOVE0fsgCL4dQGPFWyazyEQ1TbgkLbgWg7z1tnmVIcYO2cYM4oW69lOpdb0I0S6UrCOZE+AjZGoe5QHXQxGpJgIppRgOb0Zobgf2SdOGYw5A6O9y01YItP13fmlG21o4zL34IonT8qEX28nIwlbrBDEvtbH22AF4eGjMajMI/Gzd+mazm9N8kItNZnfHkTfHUwdaVXhQdp7zq+lxO2OoUMR7Cydmr2hOFDByucl5f+LkVE2f5vnRRyEr4tiYsPz71sv6yZwP9nCOAJBrj+VGpleIF6IoeWm5a79GV9oa/38mpyhIW7Y407oMQOLe13zv4OOqG2a2ZvmpNMT9TwoigwMRt/zyHwizcn1l8NmhLZyDwWbMZjFXlCxE=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Frankenstein_84
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy